.vh-scroll
  height calc(100vh - 36px)
  .ant-layout-sider-children
    height 100%
    .ant-tabs-card, .overflow-scroller, .ant-tabs-content
      height 100%
      overflow-y auto

 ::-webkit-scrollbar
  width 4px
  height 4px
::-webkit-scrollbar-track
  background rgb(255,255,255)
  border-radius 2px
::-webkit-scrollbar-thumb
  background #11b234
  border-radius 2px
::-webkit-scrollbar-thumb:hover
  background #55fd7a
