@import '~antd/dist/antd.dark.less';
@import '~antd/dist/antd.compact.less';

@primary-color: #11b234; // 全局主色
@link-color: #11b234; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: #11b234; // 标题色
@body-background: #1c1c1c;
// @text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: #f2f2f2; // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 2px; // 组件/浮层圆角
// @border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影


html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 100%;
  text-align: center;
  background-color: #1f1f1f;
  color: #52c41a;
  font-weight: bold;
}

.logo img {
  height: 50%;
}

#editor {
  width: 100vw;
  height: 100vh;
}

#stage,
#previewTween,
#previewParticle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 500px);
  height: calc(100vh - 364px);
  background-color: #1f1f1fa0;
}

.kn-footer {
  height: 300px;
}

.site-tree-search-value {
  color: #52c41a;
}

.ant-layout-header {
  height: auto;
  line-height: 36px;
  padding: 0;
  // background-color: #fff;
}

.ant-modal-title {
  color: #11b234;
}

.ant-card-meta-title {
  color: #11b234;
}

.ant-layout-footer {
  padding: 0;
}

.ant-form-item-label>label {
  color: #777;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  color: #11b234;
}