@import '~antd/dist/antd.compact.less';

// @primary-color: #e9f7ca88; // 全局主色
// @link-color: #18fff3; // 链接色
// @success-color: #52c41a; // 成功色
// @warning-color: #faad14; // 警告色
// @error-color: #f5222d; // 错误色
// @font-size-base: 12px; // 主字号
// @heading-color: rgba(209, 233, 196, 0.986); // 标题色
// @text-color: rgba(255, 255, 255, 0.65); // 主文本色
// @text-color-secondary: rgba(240, 240, 240, 0.45); // 次文本色
// @disabled-color: rgba(0, 0, 0, 0.25); // 失效色
// @border-radius-base: 2px; // 组件/浮层圆角
// @border-color-base: #d9d9d9; // 边框色
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
//   0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影
// @background-color-light:  #e0e0e0;

// layout
// @layout-body-background: #d8cece;
@layout-header-padding: 0 0;

// // tab
// @tabs-card-head-background: #71857d !important;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  width: 200px;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.logo img {
  height: 50%;
}

#editor {
  width: 100vw;
  height: 100vh;
}

#stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 400px);
  height: calc(100vh - 364px);
  background-color: #696565;
}

.kn-footer {
  height: 300px;
}

.site-tree-search-value {
  color: #52c41a;
}

.ant-layout-header {
  background: #696565;
}

.ant-layout-footer {
  padding: 0;
}
